<html>
    <head>
        <title>Active Users</title>
    </head>
    <body>
        <h1>Active Users</h1>
        {% for i in range(name|length): %}
            <h2>{{ name[i] }}</h2>
            <p><strong>User Id:</strong> #{{user_id[i]}}</p>
            <p><strong>User:</strong> {{username[i]}}</p>
            <p><strong>Birthday:</strong> {{birthday[i]}}</p>
            {% if role[i][0] == 0 %}
            <p><strong>Student</strong></p>
            {%endif%}
            {% if role[i][0] == 1 %}
            <p><strong>Teacher</strong></p>
            {%endif%}
            <form method="post">
                <input type="submit" name = {{user_id[i]}}  value="Edit User">
                <input type="submit" name = {{user_id[i]}}  value="Show Lending History">
                <input type="submit" name = {{user_id[i]}}  value="Show Active Bookings">
                <input type="submit" name = {{user_id[i]}}  value="Show Delayed Returns">
                <input type="submit" name = {{user_id[i]}}  value="Show Reviews">
                <input type="submit" name = {{user_id[i]}}  value="Deactivate User">
            </form>
        {% if not loop.last %}
            <hr>
        {% endif %}
  {% endfor %}
    </body>
</html>