{% extends 'base.html' %}
<html>
    {%block title %}Home{% endblock %}
    
        {% block header %}<h1>Welcome {{ name }}</h1>{% endblock %}
        {% block content %}
        <form method="post" enctype="multipart/form-data">
            <input type="submit" name = "Pending manager registrations" value="Pending manager registrations">
            <br>
            <br>
            <input type="submit" name = "Show all schools" value="Show all schools">
            <br>
            <br>
            <input type="submit" name = "Add School" value="Add School">
            <br>
            <br>
            <input type="submit" name = "show profile" value="Show my Profile">
            <br>
            <br>
            <input type="submit" name = "q1" value="Show all lendings per school in specific month and year (3.1.1)">
            <br>
            <br>
            <input type="submit" name = "q2" value="For a specific category, show all authors in that category
            and the teachers that have borrowed books from that category in the last year (3.1.2)">
            <br>
            <br>
            <input type="submit" name = "q3" value="Show all young teachers (less than 40 years old) that have 
            borrowed the most books and the number of books they borrowed (3.1.3)">
            <br>
            <br>
            <input type="submit" name = "q4" value="Show all authors with no lendings (3.1.4)">
            <br>
            <br>
            <input type="submit" name = "q5" value="Show managers that have accepted the same number of lendings (more than 20) (3.1.5)">
            <br>
            <br>
            <input type="submit" name = "q6" value="Show top 3 couples of categories that show up in lendings (3.1.6)">
            <br>
            <br>
            <input type="submit" name = "q7" value="Show all authors that have written at least 5 books less than the author of the most books (3.1.7)">
            <br>
            <br>
            <input type="submit" name ="backup" value="Backup Database">
            <br>
            <br>
            <input type="submit" name = "restore" value="Restore Database">
            <input type="file" name="file">
        </form>
        {% for message in get_flashed_messages() %}
        <div class="flash">{{ message }}</div>
        {% endfor %}
            
    {% endblock %}
    
</html>