{% extends 'base.html' %}
{% block header %}
<style>
    .container {
  position: relative;
  text-align: left;
  color: black;
}
  .top-left {
    position: absolute;
    top: 8px;
    left: 16px;
    font-size: 20px;
  }
  .background-image {
    background-image: url("{{ url_for('static', filename='home.png') }}");
    width: 415px;
    height: 523px;
    background-size: cover;
  }
</style>
{% endblock %}
{% block content %}
<div class="container">
    <div class="background-image">
      <div class="top-left">
        <font size="+3"><h1 style="color: rgb(23, 85, 126);">Welcome to Sealedu!!</h1></font>
        <p>To create your account press "Register".</p>
        <p>If you are already registered press "Log in".</p>
      </div>
    </div>
   
</div>
{% endblock %}