<html>
    <head>
        <title>Pending Manager Registrations</title>
    </head>
    <body>
        <h1>Pending Manager Registrations</h1>
        {% for app in applications: %}
            <h2>Manager's Information (Application #{{app[0]}})</h2>
            <p><strong>Name:        </strong> {{app[1]}}</p>
            <p><strong>Username:    </strong> {{app[2]}}</p>
            <p><strong>Birthday     :</strong> {{app[6]}}</p>
            <p><strong>School     : </strong> {{app[4]}}</p>
            <br>
            <form method="post">
                <input type="submit" name = "Reject" value="Reject #{{app[0]}}">
                <br>
                <input type="submit" name = "Accept" value="Accept #{{app[0]}}">
            </form>
        {% if not loop.last %}
            <hr>
        {% endif %}
  {% endfor %}
    </body>
</html>