<html>
    <head>
        <title>3.1.5</title>
    </head>
    <h1>Show managers that have accepted the same number of lendings (more than 20)</h1>
    <form method="post">
        <label for="year">Year:</label>
        <input type="number" name="year" id="year" required>
        <br>
        <input type="submit" value="Show results">
        {% if d!=[] %}
            {% for result in results: %}
            <p><strong>Managers with {{result[1]}} lendings:        </strong> {{result[0]}}</p>
            <br>
            {% if not loop.last %}
                <hr>
            {% endif %}
            {% endfor %}
        {% endif %}
    </form>
</html>