{% extends 'base.html' %}

{% block header %}
  <h1>{% block title %}Register{% endblock %}</h1>
{% endblock %}

{% block content %}
  <form method="post">
    <label for="username">Username:</label>
    <input name="username" id="username" required>
    <br>
    <label for="password">Password:</label>
    <input type="password" name="password" id="password" required>
    <br>
    <label for="name">Full Name:</label>
    <input name="name" id="name" required>
    <br>
    <label for="birthday">Birthday:</label>
    <input type="date" id="birthday" name="birthday" required>
    <br>
    <label for="school">Choose your school:</label>
    <select name="schools" id="schools">
        <body>
        {% for school in schools %}
            <option name ="{{school[0]}}" value="{{school[0]}}">{{school[1]}}</option>
        {% endfor %}
        </body>
    </select>
    <br>
    <label for="role">Are you a student or a teacher?</label>
    <select name="role" id="role">
        <body>
        <option value="0" name ="student">student</option>
        <option value="1" name ="teacher">teacher</option>
        </body>
    </select>
   
    </body>
    </select>
    {% for message in get_flashed_messages() %}
    <div class="flash">{{ message }}</div>
    {% endfor %}
    <input type="submit" value="Register">
  </form>
{% endblock %}