
<html>
    <head>
        <title>Active Bookings</title>
    </head>
    <body>
        <h1>User {{username}} Active Bookings</h1>
        {% block content %}

        {% for i in range(books|length): %}
            <h2>{{ books[i][1] }}</h2>
            <p>ISBN: {{ books[i][0] }}</p>
            <p>Booked: {{ books[i][2] }}</p>
            {% if (active_lendings < 2 - booker_role) and (copies[i] > 0) | safe %}
            <form method="post">
                <input type="submit" name = "{{bookings[i][0]}}" value="Lend">
            </form>
            {%endif%}
        {% if not loop.last %}
            <hr>
        {% endif %}
  {% endfor %}
{% endblock %}

    </body>
</html>
