
<html>
    <head>
        <title>User Lending History</title>
    </head>
    <body>
        <h1>User #{{user_id}} Lending History</h1>
        {% block content %}

        {% for book in books: %}
            <h2>{{ book[0] }}</h2>
            <p>ISBN: {{ book[1] }}</p>
            <p>Borrowed: {{ book[2] }}</p>
            {% if book[3]: %}
            <p>Returned: {{ book[3] }}</p>
            {% endif %}
            {% if not book[3]: %}
            <p>Not returned</p>
            <form method="post">
                <input type="submit" name = "Return" value="Return (#{{book[4]}})">
            </form>
            {%endif%}
        {% if not loop.last %}
            <hr>
        {% endif %}
  {% endfor %}
{% endblock %}

    </body>
</html>
