{% extends 'base.html' %}
<html>
    {%block title %}Home{% endblock %}
    
        {% block header %}<h1>Welcome {{ name }}</h1>{% endblock %}
        {% block content %}
        <form method="post">
            <input type="submit" name = "show books" value="Show my lending history">
        </form>
        <form method="post">
            <input type="submit" name = "show profile" value="Show my Profile">
        </form>
        <form method="post">
            <input type="submit" name = "show bookings" value="My Reservations">
        </form>
        <form method="post">
            <input type="submit" name = "show delays" value="Delayed Returns">
        </form>
        <form method="post">
            <input type="submit" name = "show reviews" value="My Reviews">
        </form>
        <hr>
        <form method="post">
            <input type="submit" name = "show all books" value="See all books">
        </form>
        <h3>Search by choosing book category, author, or search by title:</h3>
            <form method="POST">
                <h2>Choose categories</h2>
                    {% for category in categories %}
                        <label>
                            <input type="checkbox" name="options[]" value="{{ category[0] }}">
                            {{ category[1] }}
                            <br>
                        </label>

                    {% endfor %}
                <h2>Choose author</h2>
                <input type="submit" name = "see authors" value="See all Authors">
                <br>
                <br>
                <label for="author">Author:</label>
                <input name="author" id="author">
                <br>
                <br>
                <input type="submit" name="search" value="Search">
                <br>
                <h2>Search Title</h2>
                <label for="title">Title:</label>
                <input name="title" id="title">
                <br>
                <br>
                <input type="submit" name="search title" value="Search Title">
            </form>
            {% for mesg in get_flashed_messages() %}
            <p>{{ mesg }}</p>
            {% endfor %}
    {% endblock %}
    
</html>


